#myNavbar .navbar-collapse>ul>li .navbar-form .glyphicon-search {
  transform: scale(1.5);
}

#myNavbar .navbar-collapse>ul>li .navbar-form .btn {
  background-color: rgba(247, 242, 242, 0.2);
  border: 1px solid rgba(247, 242, 242, 0.2);
  font-weight: bold;
  color: white
}

#myNavbar ul.nav-tabs li.active a,
#myNavbar ul.nav-tabs li a:hover {
  color: white !important;
  background: transparent;
  border: 2px solid rgb(14, 71, 117) !important;
}

.icon-bell-o,
.glyphicon-envelope {
  padding-right: 0px
}

.icon-bell-o>.badge,
.glyphicon-envelope>.badge {
  position: relative;
  left: -20px;
  bottom: 12px;
  background-color: red;
  border: 1px solid white
}

.container-fluid {
  height: 700px;
  margin-top: 50px;
  padding-left: 50px;
  background: rgb(167, 166, 166)
}

#recent-recipes img:first-child {
  width: 70px;
  height: 70px;
}

#post-recipe img,
#user-recipe img {
  width: 50px;
  height: 50px;
}

#recent-recipes img+.glyphicon-plus-sign {
  position: relative;
  top: -70px;
  left: 30px;
  font-size: 24px;
  background-color: white;
  color: rgb(29, 64, 109);
  border-radius: 50%
}

#recent-recipes ul li:not(:first-of-type) img:first-child {
  border: 2px solid rgb(29, 64, 109);
  padding: 1px;
  position: relative;
  bottom: -10px
}

#recent-recipes ul li:not(:first-of-type) img:nth-child(2) {
  border: 2px solid white;
  width: 40px !important;
  height: 40px !important;
  position: relative;
  bottom: 25px;
  left: 40px;
  padding: 0;
  margin: 0
}

#recent-recipes h1 {
  font-size: 24px
}

#recent-recipes li {
  text-align: center;
}

#post-recipe,
#user-recipe {
  background: white;
  padding: 10px 0 10px 20px;
  overflow: hidden;
  height: 100%;
  margin-bottom: 20px;
  text-align: left
}

.post-recipe-el {
  display: inline-block;
}

#post-recipe img {
  float: left
}

#post-recipe p {
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
  bottom: -12px;
  margin-left: 15px;
  height: 30px;
  font-size: 20px
}

#post-recipe .glyphicon-picture {
  margin-right: 20px;
  position: relative;
  top: 17px;
  transform: scale(1.5);
  margin-left: 30px;
}

#post-recipe .glyphicon-picture:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(29, 64, 109);
  border: 2px solid rgb(29, 64, 109);
}

#recent-recipes {
  background: white;
  padding: 10px 0 10px 20px;
  height: 180px;
  overflow: hidden;
  margin-bottom: 20px
}

#recent-recipes p {
  position: relative;
  bottom: 20px
}

.inline-block {
  display: inline-block
}

#user-recipe h1 {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding: 0;
  margin: 0
}

#user-recipe h1+p {
  position: relative;
  bottom: 5px;
  color: rgb(167, 166, 166)
}

#user-recipe img {
  margin-right: 10px;
  position: relative;
  bottom: 17px
}

#user-recipe.row {
  padding: 15px 20px 5px 20px
}

#user-recipe .glyphicon-chevron-down {
  float: right;
  margin: 10px;
  color: rgb(167, 166, 166)
}

.glyphicon:hover,
a:hover {
  cursor: pointer;
}

img:hover {
  cursor: pointer;
  transform: scale(1.2)
}

#user-recipe>p {
  font-size: 18px
}

#user-recipe .likes>.glyphicon {
  font-weight: bold;
  color: white;
  background-color: rgb(14, 71, 117);
  border-radius: 50%;
  padding: 5px
}

#user-recipe>p+.glyphicon+p {
  font-size: 15px
}

#user-recipe a {
  float: right
}

.likes {
  border-bottom: 1px solid rgb(167, 166, 166)
}

.reactions {
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
  color: rgb(167, 166, 166);
  border-bottom: 1px solid rgb(167, 166, 166)
}

.reactions>.glyphicon {
  font-size: 20px;
  margin-left: 10%;
}

.reactions>.glyphicon:hover {
  color: rgb(14, 71, 117)
}

.comment {
  margin-top: 2px;
  margin-left: 1px;
  text-align: left;
}

.comment>img {
  float: left
}

.comment>input {
  position: relative;
  top: -10px;
  border-radius: 20px;
  height: 40px;
  border: 1px solid rgb(167, 166, 166);
  background-color: rgb(230, 224, 224)
}

.comment>input+.glyphicon {
  position: relative;
  left: -40px;
  top: 3px;
  transform: scale(2);
  color: rgb(114, 112, 112)
}

.comment>input+.glyphicon:hover {
  color: rgb(14, 71, 117)
}

.replies div.inline-block {
  border-radius: 25px;
  background-color: rgb(230, 224, 224);
  padding: 10px 5px 0 7px
}

.replies div.inline-block>h1 {
  font-size: 18px !important;
}

.replies div.inline-block>p {
  color: black !important;
}