body {
  background-image: url('../images/background-1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 800px
}

#myNavbar {
  background-image: url('../images/nav_bar.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

#myNavbar .navbar-collapse>ul>li:first-child .btn {
  background-color: rgba(247, 242, 242, 0.2);
  border: 1px solid rgba(247, 242, 242, 0.2);
  font-weight: bold;
  color: white
}

#myNavbar .navbar-collapse>ul>li:first-child .glyphicon-search {
  transform: scale(1.5);
}

#myNavbar ul.nav-tabs li.active a,
#myNavbar ul.nav-tabs li a:hover {
  color: rgb(255, 17, 0);
  background: transparent;
  border: 0;
  border-bottom: 2px solid rgb(255, 17, 0);
}

#myNavbar ul.nav-tabs li a {
  font-weight: bold
}

#myNavbar .nav-tabs {
  border: 0;
}

.tab-content>.row {
  padding: 100px 10% 0px 10%;
  background-color: rgba(49, 32, 32, 0.85);
  height: 700px
}

#home {
  height: 700px;
  overflow-y: auto
}

#home-info {
  text-align: left;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 200%
}

#signup-form {
  padding: 20px 10px;
  background-color: white;
  border-radius: 10px;
}

#login-form {
  background-color: inherit;
}

#login-form .form-horizontal {
  position: relative;
  left: 30%;
  margin-top: 150px;
  max-width: 500px;
}

#login-form input.form-control {
  background-color: #0C090A;
  color: white
}

#signup-form button {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.navbar-form .form-control {
  min-width: 400px
}

.no-border {
  border: 0;
  border-radius: 0
}

.form-horizontal .form-group {
  border: 0;
  margin: 0
}

#login-form .form-control {
  border-bottom: 2px solid rgba(29, 28, 28, 0.5);
  height: 50px;
  font-size: 120%
}

#signup-form .form-control {
  height: 40px;
  font-size: 110%
}

#login-form .form-control:focus {
  border-bottom: 3px solid rgb(130, 130, 233)
}

#signup-form .badge {
  background-color: rgba(38, 32, 68);
  font-weight: bold;
  font-size: 15px;
  padding: 4px
}

.icon-facebook {
  margin-left: 10px;
  color: rgb(36, 36, 116);
  font-weight: bold;
  font-size: 20px;
}

.icon-googleplus {
  color: rgb(117, 30, 30);
  font-weight: bold;
  font-size: 20px;
}


/*Custom styling for list navigation tab*/

#about-us.container {
  height: 700px;
  margin-top: 50px;
  padding: 10px 50px;
  background: white
}

#about-us ul.nav-tabs {
  margin-top: 20px;
  position: fixed;
  z-index: 1000;
  background-color: #F87431;
  border-right: 8px solid black
}

#about-us .col-md-8 {
  overflow-y: scroll;
  height: 600px
}

#about-us ul.nav-tabs li a {
  margin: 0;
  padding: 8px 16px;
  border-radius: 0;
  border: 0;
  background-color: inherit;
  font-weight: bold;
  color: #F5F5DC
}

#about-us ul.nav-tabs li.active a,
#about-us ul.nav-tabs li a:hover {
  border-bottom: 5px solid #0088cc;
  cursor: pointer;
  color: #01405f;
}

#about-us p,
#about-us h2 {
  color: black
}

.lead {
  margin-top: 10px
}

#myCarousel {
  background-color: #E5E4E2
}

#myCarousel img {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

#myCarousel a {
  color: rgba(49, 26, 179, 0.897);
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#myCarousel a:hover {
  cursor: pointer;
}

#myCarousel blockquote {
  position: fixed;
  top: 220px;
  right: 20px;
  border-left-color: #0088cc
}

#myCarousel.carousel ol>li.active {
  background-color: rgba(9, 110, 15, 0.404);
  border: 3px solid green;
  width: 15px;
  height: 15px
}

#myCarousel.carousel ol>li {
  background-color: rgba(9, 110, 15, 0.404);
}

#myCarousel .col-sm-5 {
  float: left;
  overflow: hidden;
  height: 300px;
  margin: 0;
  padding: 0
}

#myCarousel .col-sm-7 {
  margin: 0;
  padding: 10px
}