body {
  background-image: url('../images/background-1.jpg');
  background-repeat: no-repeat;
  background-size: 100%
}

.row {
  padding: 100px 10% 0px 10%;
  background-color: rgba(49, 32, 32, 0.85);
  height: 700px
}

#home-info {
  text-align: left;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 200%
}

#signup-form {
  padding: 20px 10px;
  background-color: white;
  border-radius: 10px;
}

#login-form {
  padding: 20px 10px;
  background-color: white;
  height: 700px
}

#login-form .form-horizontal {
  width: 100%;
  margin-top: 15%;
  max-width: 600px;
}

#signup-form button {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.navbar-form .form-control {
  min-width: 400px
}

.no-border {
  border: 0;
  border-radius: 0
}

.form-horizontal .form-group {
  border: 0;
  margin: 0
}

#login-form .form-control {
  border-bottom: 2px solid rgba(29, 28, 28, 0.5);
  height: 50px;
  font-size: 120%
}

#signup-form .form-control {
  height: 40px;
  font-size: 110%
}

#login-form .form-control:focus {
  border-bottom: 3px solid rgb(130, 130, 233)
}

#signup-form .badge {
  background-color: rgba(38, 32, 68);
  font-weight: bold;
  font-size: 15px;
  padding: 4px
}