/**Media 768px Start*/

@media (min-width: 768px) and (max-width: 990px) {
  /**Navigation bar*/
  .menu.active {
    width: 260px;
  }
  .menu,
  .menu>ul ul {
    margin: 0;
    max-height: 0;
    overflow: hidden;
  }
  span.has-subnav,
  a.menu-link {
    display: block;
    line-height: 2;
  }
  .sub-menu li a {
    background-color: #fff;
  }
  .navbar {
    padding: 0px;
    z-index: 999;
    border-radius: 0px;
    position: absolute;
    background-color: #fff;
    border-top: none;
    border-bottom: none;
    left: 0px;
    top: 122px;
    margin: 0px;
    .navbar-collapse {
      padding: 0px;
    }
    &-nav {
      margin: 0px;
      padding-top: 10px;
      float: left;
      text-align: left;
      &>li {
        width: 100%;
        float: left;
        margin: 0px;
        padding: 0px;
        &:first-child {
          padding-left: 0px;
        }
        &>a {
          float: left;
          width: 100%;
          padding: 15px 20px 15px 20px;
          color: #555555;
          line-height: 14px;
          &:before {
            display: none;
          }
        }
      }
    }
  }
  a.menu-link {
    text-align: left;
    float: left;
    font-weight: bold;
    font-size: 22px;
    line-height: 2.2;
    span {
      margin: 12px 30px 9px 0px;
    }
  }
  .navbar-nav,
  .wawrecipe-user-list {
    .sub-menu {
      border-bottom: none;
      padding: 0px;
      margin: 0px;
      float: left;
      width: 100%;
      position: relative;
      opacity: 1;
      visibility: visible;
      background-color: transparent;
      top: 0;
      @include transform-origin(0% 0%);
      @include transform(0deg);
      @include transition($ease);
      &>li {
        padding: 0px
      }
      li {
        a {
          padding: 6px 20px;
          color: #222;
        }
      }
    }
  }
  /**Main grid*/
  .wawrecipe-main-content {
    .col-md {
      &-3,
      &-4 {
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
        width: 50%;
      }
      &-5,
      &-7 {
        width: 100%;
        float: left;
        margin-bottom: 0px;
      }
    }
  }
  .col-md-12 {
    float: left;
    width: 100%;
  }
  /**Header*/
}