$primary-color-light: #dd8724;
$primary-color: #b99563;
$primary-color-dark: #835008;
$primary-color-text: #FFFFFF;
$accent-color: #FF5252;
$primary-text-color: #999999;
$secondary-text-color: #d6d6d6;
$input-text-color: #555555;
$background-shadow-color: rgba(0, 0, 0, 0.10);
$primary-color-span: #222222