.success {
    background-color: green;
}
.failure {
    background-color: red;
}
.warning {
    background-color: rgb(205, 177, 50)
}

.flash-icon {
    float: right;
    font-size: 20px;
}
.flash-icon:hover {
    cursor: pointer
}

#flash-message {
    height: auto;
    padding: 5px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px 5px 0 0;
}