/*wawrecipe-blog-medium*/

.wawrecipe-blog {
  @extend %full-left;
  &-medium {
    ul {
      li {
        &:hover {
          figure {
            a {
              &:before {
                opacity: 0.5
              }
            }
          }
        }
      }
    }
    figure {
      float: right;
      margin: 0px;
      width: 458px;
      overflow: hidden;
      a {
        @extend %full-left;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          opacity: 0
        }
        img {
          @extend %full-left;
        }
      }
    }
    .wawrecipe-blog-medium-layer:hover {
      figure a:before {
        opacity: 0.5
      }
    }
    &-text {
      width: 300px;
      padding: 45px 28px 50px 30px;
      background-color: $primary-color-text;
      float: left;
      line-height: 1;
      box-shadow: 0 0 15px $background-shadow-color;
      margin: 50px -203px 0 0px;
      position: relative;
      span {
        @include format-text($weight: null, $spacing: null, $margin: 2px);
        font-size: 10px;
        display: inline-block;
      }
      h5 {
        @include format-text($transform: null, $margin: 16px)
      }
      p {
        @include format-text($transform: null, $weight: null, $margin: 21px)
      }
    }
    &-slide {
      margin-bottom: 97px;
      .slick-dots {
        bottom: 0px;
        li {
          &.slick-active button {
            width: 12px;
            height: 12px;
          }
          button {
            background-color: $primary-text-color;
            width: 8px;
            border: none;
            height: 8px;
            border-radius: 100%;
          }
        }
      }
    }
  }
  &>ul {
    &>li {
      list-style: none;
      margin: 0px -4px 30px 0px;
      float: none;
      display: inline-block;
      vertical-align: top;
    }
  }
}