<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html ; charset=utf-8" />
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--<![endif]-->
  <meta name="viewport" content="width=device-width initial-scale=1.0" />
  <title></title>
  <style>
    .container {
      border-radius: 20px;
      border: 1px solid gray;
      padding: 0px 0px;
      max-width: 700px;
      min-width: 200px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0
    }
    
    .content {
      padding: 10px;
      background-color: white;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    
    .heading {
      margin-top: 0px;
      margin-bottom: 0px;
      background-color: ghostwhite;
      border-top-color: gray;
    }
    
    h6 {
      text-align: center;
      text-decoration-color: white
    }
    
    p {
      padding-top: 4px;
      padding-bottom: 4px
    }
    
    .header {
      margin-top: 0px;
      margin-bottom: 0px;
      background-color: dodgerblue;
      height: 20px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      border: 4px solid dodgerblue
    }
    
    .footer {
      margin-top: 0px;
      margin-bottom: 0px;
      background-color: gray;
      padding-left: 10px;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border: 4px solid gray;
    }
    
    .footer p {
      color: rgb(20, 50, 50);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin: 4px 4px
    }
    
    section {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0px
    }
  </style>

</head>

<body>
  <div class="container">
    <section class="header">
    </section>
    <section>
      <h3 style="color:rgb(156, 199, 241); background-color:white">Password Reset</h3>
    </section>
    <section class="heading">
      <h5 class="heading-1" style="color:grey">Password reset from:</h5>
      <h4 class="heading-2" style="color:black; font-size:medium">Hi-Recipe</h2>
    </section>
    <section class="content">
      <%if(username){%>
        <h5>Dear
          <%=username%>,</h5>
        <p style="text-align:justify">Your password have been successfully reset, you can now login with your new password. This is to notify you that you or someone else has changed your account password on Hello Books. If this action was performed by you, please ignore this mail
          as no further action is required from you. If not, please contact support at <a>info@hi-recipe.herokuapp.com</a></p>
        <p> Best regards</p>
        <p>
          <%=date%>
        </p>
        <%};%>
    </section>
    <section class="footer">
      <p>Copyright 2017 Hi-Recipe</p>
      <p>2, Imafu Crescent, Uwagboe, Benin-City</p>
    </section>
  </div>
</body>

</html>