#loader {
  border: 16px solid #1f1e1e;
  /* Light grey*/
  border-top: 16px solid #6d075c;
  /* Green */
  border-radius: 50% !important;
  animation: spin 2s linear infinite;
  position: absolute;
  margin: auto;
  display: block;
  top: 30%;
  left: 40%;
  height: 250px;
  width: 250px;
  z-index: 111;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}